<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/addDetail.css">
    <title>Get Lecture Details</title>
</head>
<body>
    <div class="container">
        <form action="/response" method="post">
        <select name="department" id="dept" class="dept_select" onchange="/response" required>
            <option value="" disabled selected hidden>Select</option>
            <option value="Computer Engineering">Computer Engineering</option>
            <option value="Electrical Engineering">Electrical Engineering</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Automobile Engineering">Automobile Engineering</option>
        </select>
            <table class="main_table">
                 <tr class="table_row">
                    <td class="table_col">
                        Date
                    </td>
                    <td class="table_col">
                        <input type="date" name="lecture_date" id="lecture_date" onchange="/response" required>
                    </td>
                </tr>
               
                <tr class="table_row">
                    <td>
                        <input type="submit" value="Fetch">
                        </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>